body {
    background-color: rgb(44, 43, 43); 
    color: white;
}

#pagecont {
    margin-top: 20px;
}

h1 {
    margin: 0px;
}

#sidepanel {
    border-style: none;
    width: 25%;
    height: 98%;
    position: relative;
    float: left;
}

#sidepanel iframe {
    border-style: none;
    width: 100%;
    height: 100%;
}

#maincont {
    border-style: none;
    width: 65%;
    height: 98%;
    position: relative;
    float: right;
}

a:link, a:visited, a:active {
    color: rgb(0, 200, 0);
    text-decoration: none;
}

a:hover {
    color: rgb(0, 240, 0);
    text-decoration: none;
}

/* Main text area of articles */
.freetext {
    white-space: pre;
}