body {
    background-color: rgb(44, 43, 43); 
    color: white;
    font-family: Verdana, sans-serif;
    font-size: 13pt;
    margin: 0;

}

body .mobile {
    font-size: 26pt;
}

#pagecont {
    margin-top: 30px;
}

.maincont {
    border-style: none;
    width: 50%;
    height: 98%;
    position: relative;
    float: left;
    margin-left: 3%;
    margin-right: 3%;
    text-align: justify;

    &.mobile_show {
        width: 50%;
        margin-left: 6%;
        margin-right: 0%;
        font-size: 22pt;
    }

    &.mobile_hide {
        width: 77%;
        margin-left: 1%;
        margin-right: 0%;
        font-size: 26pt;
    }
}

.footer {
    height: 60px;
    padding-top: 100px;
    padding-left: 40%;
    font-size: 11pt;

    &.mobile {
        font-size: 16pt;
    }
}

/*
#footer {
    height:160px;
    position: relative;
    clear: both;
    margin-top: -160px;
}

#footercont {
    position: absolute;
    bottom: 30px;
    left: 46%;
    font-size: 11pt;
} */