import      { color: #a94eb1;
              font-weight: bold; }
keyword     { color: #54a832; 
              font-weight: bold; }
operator    { color: #a94eb1;
              font-weight: bold; }
number      { color: #ffff99; }
string      { color: #d6563c; }
comment     { color: #0b7d66; }
function    { color: #008ae6; }
literal     { color: #54a832; }